<% provide(:title, 'Quotes') %>

<div class = "center">
  <% if logged_in? %>
    <%= link_to "Add a Quote", quotes_add_url, class: "btn btn-lg btn-primary" %>
  <% else %>
      <%= link_to "Log in to add a quote", login_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
<%= will_paginate %>

<ul class="quotes">
  <%= render @quotes %>

</ul>

<%= will_paginate %>
